<!doctype html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css?v=1.0') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js?v1.0') }}"></script>
    <!--
        see app.js - When this page is loaded, it fetches the current weather from an 
        open API and displays the result in the #content area, below.
    -->
</head>
<body>

    <div class="container">

        <h1>Weather in ssssss, NS:</h1>

        <div id="content">
            <!-- empty placeholder for content -->
        </div>

    </div>

</body>
</html>
